<!DOCTYPE html>
<html>

<head>
    <title>晨山资本LP文件管理系统</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
    <!-- libraries -->
    <link href="static/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="static/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="static/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="static/css/compiled/icons.css">
    <link rel="stylesheet" type="text/css" href="static/css/compiled/permission.css">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="static/css/compiled/index.css" type="text/css" media="screen" />
    <!-- open sans font -->
    <!--  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- lato font -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'> -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
    <div id="bg"></div>
    <div class="loading"><img src="static/img/loading.gif"></div>
    <div id="preview_line" style="height: 55px; display: none">
        <div style="height:53px ; width: 100%">
            <div id="previewClose" style="margin-left: 1px; float: right;  border-left: 1px solid rgb(229, 229, 229); width: 53px; height: 52px; "><i style="margin:10px 0 0 10px;width: 32px;height:32px;display:block;background-repeat:no-repeat;" class="icon-preview-close"></i></div>
            <div id="previewDownload" style="margin-left: 1px; float: right; border-left: 1px solid rgb(229, 229, 229); width: 53px; height: 52px;text-align:center;line-height: 52px"> <a href="http://link/to/file"> 下载</a>
            </div>
            <div id="pdf-loader">
                <div id="pdf-loading-bar">
                    <div id="pdf-loading-completed"></div>
                </div>
            </div>
            <form method="get" action="" style="display: none" id="download_form">
                <button type="submit">Download!</button>
            </form>
        </div>
        <!-- <iframe src="" id="fullbg"></iframe> -->
        <div id="fullbg" sytle="align:center"></div>
    </div>
    <div id="uploadForm" style="display: none">
        <input id="file" type="file" />
        <button id="upload" type="button">upload</button>
    </div>
    <!-- permission dialog -->
    <div class="perm_container" id="perm_container">
        <div class="perm_action">
            <div id="perm-filename" class="perm-filename">文件名</div>
            <div>
                <div id="perm-cancel" class="perm-btn-flat success pull-right">
                    <span>-</span> 取消
                </div>
                <div id="perm-confirm" class="perm-btn-flat success pull-right">
                    <span>+</span> 确认
                </div>
            </div>
        </div>
        <div>
            <div class="perm-list-outer1">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-3 sortable align-center perm-th"><span class="perm-line"></span>成员</th>
                            <th class="col-md-3 sortable align-center perm-th"><span class="perm-line"></span>授权</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="perm-list-outer2">
                <table class="table">
                    <tbody id="perm-list">
						<tr class="first" id="total-member">
							<td class="col-md-3 sortable align-center">
								<div style="color:#0099ff" class="perm-member-select">全部成员</div>
							</td>
							<td class="col-md-3 sortable align-center">
								<div class="perm-action-select">
									<select style="background-color:#0099ff">
										<option value="NO">禁止查看</option>
										<option value="YES">授权查看</option>
									</select>
								</div>
							</td>
						</tr>	
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mask_layer" id="mask_layer">
    </div>
    <!-- end permission dialog -->
    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="static/img/cslogo.png"></a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown" id="user_name">{{username}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!--   <li><a href="personal-info.html">个人信息</a></li> 
                    <li><a href="#">个人信息</a></li> -->
                    <li><a href="password-reset.html">修改密码</a></li>
                    <!--  <li><a href="#">账单</a></li>
                        <li><a href="#">导出数据</a></li>
                        <li><a href="#">发送反馈</a></li>  -->
                    <li>
                        <a href="logout.html">登出</a>
                    </li>
                </ul>
            </li>
            <!--  <li class="settings hidden-xs hidden-sm">
                    <a href="personal-info.html" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li> -->
            <!--  <li class="settings hidden-xs hidden-sm">
                <a href="logout.html" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
            </li> -->
        </ul>
    </header>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="index.html">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </a>
            </li>
            <li id="user_log">
                <a href="javascript:;" style={{hidden}}>
                        <i class="icon-signal"></i>
                        <span>用户日志</span>
                    </a>
            </li>
            <li>
                <a class="" href="logout.html">
                        <i class="icon-share-alt"></i>
                        <span>登出</span>
                        <!-- <i class="icon-chevron-down"></i> -->
                    </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    <!-- main container -->
    <div class="content">
        <!-- settings changer -->
        <!-- <div class="skins-nav">
                <a href="#" class="skin first_nav selected">
                    <span class="icon"></span><span class="text">默认皮肤</span>
                </a>
                <a href="#" class="skin second_nav" data-file="css/compiled/skins/dark.css">
                    <span class="icon"></span><span class="text">深色皮肤</span>
                </a>
            </div> -->
        <div id="pad-wrapper">
            <!-- table sample -->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
            <div class="table-products section">
                <div class="row filter-block">
                    <div class="col-md-8">
                        <div class="col-md-offset-0">
                            <div class="btn-flat primary" id="file_upload" style={{hidden}}>
                                <i class='icon-wrench'>
                                上传文件
                            </i>
                            </div>
                            <!--   <div class='col-md-offset-3'>
                            
                        </div> -->
                            <button class="btn-flat white new-folder" id="new_folder" style={{hidden}}>
                                <i class='icon-wrench'>
                                新建文件夹
                            </i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="JDeHdxb">
                    <ul class="FuIxtL" style="display: inline;" id="file_layer">
                        <li><a data-deep="-1" href="javascript:;" id="last_layer">返回上一级</a><span class="EKIHPEb">|</span></li>
                        <li id="left_layer"><a href="javascript:;" title="全部文件" data-deep="0" file_id="0">全部文件</a><span class="EKIHPEb">&gt;</span><span title="全部文件"></span></li>
                    </ul>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <!--  <input type="checkbox"> 文件名 -->
                                    <span class="line"></span>文件名
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>大小
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>修改日期
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="file_list" dir_id="0" pre_dir_id="0" current_path="static/file/">
                        </tbody>
                    </table>
                </div>
                <!-- <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul> -->
            </div>
            <!-- end table sample -->
        </div>
    </div>
    </div>
    <!-- scripts -->
    <script src="static/js/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/md5.js"></script>
    <script src="static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="static/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="static/js/jquery.flot.js"></script>
    <script src="static/js/jquery.flot.stack.js"></script>
    <script src="static/js/jquery.flot.resize.js"></script>
    <script src="static/js/theme.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/pdf.js"></script>
    <script type="text/javascript" src="static/js/compatability.js"></script>
    <script type="text/javascript">
    // Specify the main script used to create a new PDF.JS web worker.
    // In production, change this to point to the combined `pdf.js` file.
    PDFJS.workerSrc = 'static/js/pdf.worker.js';
    </script>
</body>

</html>
