<!DOCTYPE html>
<html>

<head>
    <title>晨山资本LP文件管理系统</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
    <!-- libraries -->
    <link href="static/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="static/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="static/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="static/css/compiled/icons.css">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="static/css/compiled/index.css" type="text/css" media="screen" />
    <!-- open sans font -->
    <!--  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- lato font -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'> -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
    <div id="preview_line" style="height: 55px; display: none">
        <div style="height:53px ; width: 100%">
            <div id="previewClose" style="margin-left: 1px; float: right;  border-left: 1px solid rgb(229, 229, 229); width: 53px; height: 52px; "><i style="margin:10px 0 0 10px;width: 32px;height:32px;display:block;background-repeat:no-repeat;" class="icon-preview-close"></i></div>
            <div id="previewDownload" style="margin-left: 1px; float: right; border-left: 1px solid rgb(229, 229, 229); width: 53px; height: 52px;text-align:center;line-height: 52px"> <a href="http://link/to/file"> 下载</a>
            </div>
            <div id="pdf-loader">
                <div id="pdf-loading-bar">
                    <div id="pdf-loading-completed"></div>
                </div>
            </div>
            <form method="get" action="" style="display: none" id="download_form">
                <button type="submit">Download!</button>
            </form>
        </div>
        <!-- <iframe src="" id="fullbg"></iframe> -->
        <div id="fullbg" sytle="align:center"></div>
    </div>
    <div id="uploadForm" style="display: none">
        <input id="file" type="file" />
        <button id="upload" type="button">upload</button>
    </div>
    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="static/img/cslogo.png"></a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown" id="user_name">{{username}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!--   <li><a href="personal-info.html">个人信息</a></li> 
                    <li><a href="#">个人信息</a></li> -->
                    <li><a href="#">修改密码</a></li>
                    <!--  <li><a href="#">账单</a></li>
                        <li><a href="#">导出数据</a></li>
                        <li><a href="#">发送反馈</a></li>  -->
                </ul>
            </li>
            <!--  <li class="settings hidden-xs hidden-sm">
                    <a href="personal-info.html" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li> -->
            <!--  <li class="settings hidden-xs hidden-sm">
                <a href="logout.html" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
            </li> -->
        </ul>
    </header>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="index.html">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </a>
            </li>
            <li>
                <a class="" href="logout.html">
                        <i class="icon-share-alt"></i>
                        <span>登出</span>
                        <!-- <i class="icon-chevron-down"></i> -->
                    </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper" class="new-user">
            <div class="row header">
                <div class="col-md-12">
                    <h3>修改密码</h3>
                </div>
            </div>
            <div class="row form-wrapper">
                <!-- left column -->
                <div class="col-md-4 with-sidebar">
                    <div class="container">
                        <form class="new_user_form">
                            <div class="col-md-12 field-box" >
                                <label>新密码:</label>
                                <input class="form-control" type="password" id ="new_password" />
                            </div>
                          <!--   <div class="col-md-12 field-box">
                                <label>新密码:</label>
                                <input class="col-md-9 form-control" type="text" id="new_password"/>
                            </div> -->
                            <div class="col-md-12 field-box" >
                                <label>重新输入确认:</label>
                                <input class="col-md-9 form-control" type="password" id="confirmed_password"/>
                            </div>
                            <div class="col-md-9 field-box actions" style="display:inline-block;margin-top:10%;width:100%">
                                <input type="button" class="btn-glow primary" value="确认" style="width:30%;float:left;margin-left: 10%" id = "reset_confirm">
                                <input type="button" value="取消" class="btn-glow primary" style="width:30%;float: right;margin-right: 10%" id = "reset_cancel">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->
    </div>
    <!-- scripts -->
    <script src="static/js/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/md5.js"></script>
    <script src="static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="static/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="static/js/jquery.flot.js"></script>
    <script src="static/js/jquery.flot.stack.js"></script>
    <script src="static/js/jquery.flot.resize.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/password-reset.js"></script>
</body>

</html>